@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #fe904d,
    ),
    "success": (
      "base": #10b95c,
    ),
    "warning": (
      "base": #f59e0b,
    ),
    "danger": (
      "base": #cf4747,
    ),
    "error": (
      "base": #ff5353,
    ),
    "info": (
      "base": #9e9087,
    ),
  ),
  $text-color: (
    "primary": #333,
    "regular": #000,
    "secondary": #909399,
    "placeholder": #a8abb2,
    "disabled": #c0c4cc,
  ),
  $common-component-size: (
    "large": 48px,
    // 40px
    "default": 40px,
    // 32px
    "small": 28px,
    // 24px
  ),
  $border-color: (
    "": #c8bfb6,
    "light": #e6ddd4,
    "lighter": #ede7df,
    "extra-light": #f5f0eb,
    "dark": #d4c8be,
    "darker": #cdc0b6,
  ),
  $border-radius: (
    "base": 8px,
    "small": 6px,
  )
);
